:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
}
.main-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.markers {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* хедер */
/* лого */
.logo {
  display: inline-block;
  margin-right: 85px;

  text-decoration: none;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}
/* навигация */
.nav-list {
  display: flex;
}
.list {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .list-item {
  margin-right: 50px;

  color: var(--secondary-text-color);
}
.nav-list .list:visited {
  color: var(--secondary-text-color);
}
.nav-list .list-item:last-child {
  margin-right: 0;
}
.nav-list .list:hover,
.nav-list .list:focus {
  color: var(--accent-color);
}

.nav-list a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-list {
  display: flex;
  margin-left: auto;
}
.address-link {
  margin-right: 30px;
}
.address-list .list {
  color: var(--primary-text-color);
  font-style: normal;
}
.address-list .list:hover,
.address-list .list:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: #757575;
  height: 600px;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--third-text-color);
  border-color: var(--accent-color);
}
/* benefits section */
.container-benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
}
.benefits-link:not(:last-child) {
  margin-right: 30px;
}

.benefits-name {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.benefits-description {
  margin: 0;
}
/* work-types section */
.work-types-list {
  display: flex;
}
.work-types-link:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 50px;
}

.work-types-list-item {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;
  max-width: 370px;
}
/* team */
.team-list {
  display: flex;
}
.team-list-link:not(:last-child) {
  margin-right: 30px;
  padding-bottom: 24px;
}
.team-photo {
  margin-bottom: 10px;
}
.team {
  background-color: var(--secondary-background-color);
}
.team-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin: 0;
  margin-bottom: 16px;
}
/* clients, на который не навесишь стили, пока нету свгшек */
/* footer */
footer {
  background-color: var(--footer-background-color);
}
.container-footer {
  padding-top: 45px;
  padding-bottom: 0;
}
.footer-flex {
  padding-bottom: 28px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  margin: 0;
  margin-bottom: 8px;
}
.footer-logo:focus {
  color: var(--accent-color);
}
.logo-web {
  color: var(--accent-color);
}
/* думаю, лого не должен менять цвет после нажатия */
.logo:visited {
  color: var(--logo-color);
}
.logo-web:visited {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--third-text-color);
}
.footer-address {
  font-style: normal;
}
.address-map {
  color: var(--third-text-color);
}
.footer-address-links {
  display: inline-block;
  margin-bottom: 9pxs;

  text-decoration: none;
}
/* на макете нет, но решила отметить эффект наведения мышкой и клавиатурой */
.address-map:hover,
.address-map:focus,
.mail-phone:hover,
.mail-phone:focus {
  color: var(--accent-color);
}
.mail-phone {
  color: var(--footer-adress-color);
}

.footer-call {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--footer-background-color);
  margin-right: 12px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;

  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: var(--footer-copyright-color);
}
.subscribe {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
/* portfolio */
/* logo */
.portfolio-logo:focus {
  color: var(--accent-color);
}
/* projects */
.projects {
  padding-top: 94px;
}
.project-filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.filter-button {
  display: inline-block;

  padding: 6px 22px;
  min-width: 73px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondary-text-color);

  background-color: var(--secondary-background-color);
  border: 1px solid transparent;
  border-radius: 4px;
}
.button-list {
  margin-right: 8px;
}
.button-list:last-child {
  margin-right: 0;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  border-color: var(--accent-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-bottom: 4px;
}
.project-name:hover,
.project-name:focus {
  color: var(--accent-color);
}
.project-example {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-example:nth-child(3n) {
  margin-bottom: 0;
  margin-right: 0;
}
.project-type {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.project-type:hover,
.project-type:focus {
  color: var(--accent-color);
}
.project-decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--third-text-color);
  /* фон временный, чтобы было видно текст */
  background-color: black;
}
.project-decription:hover,
.project-decription:focus {
  color: var(--accent-color);
}
